main {
  margin: 5%;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between; 
  align-items: center;
  margin-bottom: 5%;
}

.my-games-icon {
  height: 20px;
  width: 20px;
  border: solid 1px #3f51b5;
  border-radius: 10px;
  background-color: #3f51b5;
  padding: 2px;
}