.flip-container{
  perspective: 1000px;
  display: inline-block;
  border: 2px solid #3f51b5;
  margin: 2px 2px;
  // background-color: #3f51b5;
  // background-blend-mode: luminosity;
}

.flip-container.flipped .flipper {
  transform: rotateY(180deg);
  background-color: #3f51b5;
  // background-blend-mode: multiply;
}

.flipper{
  transition: 0.6s;
  transform-style: preserve-3d;
  // position: relative;
}

.front, .back {
  // backface-visibility: hidden;
  // position: absolute;
  // left: 0;
  // top: 0;
}

.back {
  z-index: 2;
  transform: rotateY(0deg);
}

.back {
  z-index: 2;
  transform: rotateY(180deg);
}